.animations {
  display: flex;
  height: 100%;
  flex-direction: column;
  flex: 1;
  align-items: center;
  justify-content: center;
  
  .circle {
    opacity: 0.5; 
    cursor: pointer;
    width: 70px;
    height: 70px;
    border-radius: 35px;
    margin: 10px;
    filter: blur(4px);
    background: radial-gradient(white, transparent);
    transition: filter 200ms ease-in-out, opacity 100ms ease-in-out;
    &:hover {
      background: radial-gradient(#FF7777, transparent 75%);
    }
    &.selected {
      background: radial-gradient(#7777FF, transparent 75%);
    } 
    &:hover, &.selected {
      filter: blur(0px);
      border: 1px solid white;
    }
    &.control {
      width: 35px;
      height: 35px;
    }
  }
}
