@import 'loading-animation.scss';

$window-padding: 10vh;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Major Mono Display', monospace;
  height: 100vh;
  padding: $window-padding;
  user-select: none;
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;
}
