@import 'loading-animation.scss';
@import 'menu.scss';

$window-padding: 10vh;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Major Mono Display', monospace;
  height: 100vh;
  padding: $window-padding;
  user-select: none;
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(-45deg, #000015, #050515, #150505, #000015);
  background-size: 200% 200%;
  animation: backgroundMover 60s ease infinite;
  text-decoration: none;
}

@keyframes backgroundMover {
  0%   { background-position: 0% 50%; }
  50%  { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}