@import 'loading-animation.scss';
@import 'menu.scss';

$window-padding: 10vh;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Major Mono Display', monospace;
  overflow: hidden;
  background-image: url('../background.png');
  background-size: 100% 100%;
  .application {
    padding: 40px; 
    height: 100vh;
    width: 100vw;
    background: linear-gradient(-45deg,
      rgba(0,0,0,0.25),
      rgba(5, 5, 37, 0.25),
      rgba(37, 5, 5, 0.25),
      rgba(0,0,0,0.25)
    );
    background-size: 200% 200%;
    animation: backgroundMover 10s ease infinite;
  }
}

@keyframes backgroundMover {
  0%   { background-position: 0% 50%; }
  50%  { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}