$LEN: 1s;
$final-transition: $LEN * 12;
$text-mangler-len: $LEN * 6;

.msg {
  color: #FFFFFF;
  font-size: 1rem;
  font-family: 'Jura', sans-serif;
  margin-top: 10px;
  animation: pulsate_brightness $LEN infinite;
}
.github {
  margin-bottom: 40px;
  animation: pulsate_brightness $LEN infinite;
}
.fade-in {
  opacity: 1;
  transition: opacity ($LEN * 5) ease-out;
  &.loading {
    opacity: 0;
  }
}
.msg.loading, .github.loading {
  opacity: 0;
}

.name {
  color: #FFFFFF;
  animation: hueRotator ($LEN * 12) infinite;
  text-shadow: 1px 1px 1px #0000AA;
  &:after {
    transition: font-size 1s ease-in;
    content: 'dearthfunk';
    display: block;
    font-size: 3em;
    opacity: 0.5;
  }
  &.loading {
    cursor: pointer;
    animation: pulsate ($LEN * 2) infinite;
    cursor: pointer;
    &:after {
      font-size: 2em;
      animation: textMangler ($LEN * 20) infinite;
      filter: blur(1px);
      opacity: 1;
    }
  }
}

@keyframes hueRotator {
  0% { filter: hue-rotate(0deg) blur(1px); }
  50% { filter: hue-rotate(180deg) blur(1.5px); }
  100% { filter: hue-rotate(360deg) blur(1px); }
}
@keyframes textMangler {
  0% {content: 'dearthfunk'}
  2% {content: 'de@rthf_nk'}
  4% {content: 'de_rth3_nk'}
  6% {content: 'd3_rth__nk'}
  10% { content: '_3_rth__nk'}
  11% { content: '_3__th__nk'}
  12% { content: '___th@nks_'}
  25% { content: '_d_a_th_ks'}
  30% { content: 'death_____'}
  40% { content: 'dearth____'}
  41% { content: 'dearthf___'}
  42% { content: 'dearthfu__'}
  43% { content: 'dearthfun_'}
  44% { content: 'dearthfunk'}
  75% { content: '__________'}
  77% { content: '_________ '}
  79% { content: '________  '}
  81% { content: '_______   '}
  83% { content: '______    '}
  85% { content: '_____     '}
  87% { content: '____      '}
  89% { content: '___       '}
  91% { content: '__        '}
  94% { content: '_         '}
  98% { content: '          '}
}

@keyframes pulsate {
  0%   { opacity: 0.4; }
  50%  { opacity: 1; }
  100% { opacity: 0.4; }
}

@keyframes pulsate_brightness {
  0%   { filter: brightness(0.5); }
  50%  { filter: brightness(1); }
  100% { filter: brightness(0.5); }
}