$LEN: 1s;
$transition_speed: $LEN * 3;
$pulsate: pulsate_brightness ($LEN * 2) infinite;

.github {
  margin-bottom: 40px;
  animation: $pulsate;
  img {
    transform: scale(1);
    transition: transform 200ms ease-in;
  }
  img:hover {
    animation: none;
    transform: scale(1.1);
  }
}
.msg {
  color: #FFFFFF;
  font-size: 1rem;
  font-family: 'Jura', sans-serif;
  margin: 10px 0;
  animation: $pulsate;
}
.mail {
  color: #FFFFFF;
  font-family: 'Jura', sans-serif;
  animation: $pulsate;
}
.msg.loading, .github.loading, .mail.loading {
  opacity: 0;
}

.name {
  color: #FFFFFF;
  animation: $pulsate;
  &:after {
    transition: font-size 500ms ease-in;
    content: 'dearthfunk';
    display: block;
    font-size: 3em;
  }
  &.loading {
    text-shadow: 1px 1px 1px #0000AA;
    cursor: pointer;
    &:after {
      font-size: 2em;
      animation: textMangler ($LEN * 20) infinite;
      filter: blur(1px);
      opacity: 1;
    }
  }
}
@keyframes pulsate_brightness {
  0%   { filter: brightness(0.8); }
  50%  { filter: brightness(1); }
  100% { filter: brightness(0.8); }
}

@keyframes textMangler {
  0% {content: 'dearthfunk'}
  2% {content: 'de@rthf_nk'}
  4% {content: 'de_rth3_nk'}
  6% {content: 'd3_rth__nk'}
  10% { content: '_3_rth__nk'}
  11% { content: '_3__th__nk'}
  12% { content: '___th@nks_'}
  25% { content: '_d_a_th_ks'}
  30% { content: 'death_____'}
  40% { content: 'dearth____'}
  41% { content: 'dearthf___'}
  42% { content: 'dearthfu__'}
  43% { content: 'dearthfun_'}
  44% { content: 'dearthfunk'}
  75% { content: '__________'}
  77% { content: '_________ '}
  79% { content: '________  '}
  81% { content: '_______   '}
  83% { content: '______    '}
  85% { content: '_____     '}
  87% { content: '____      '}
  89% { content: '___       '}
  91% { content: '__        '}
  94% { content: '_         '}
  98% { content: '          '}
}
