$LEN: 2s;
$text-mangler-len: $LEN * 6;
$circle-grow-len: $LEN;
$size-fade: $LEN * 2;
$circle-size: 10px;
$blue: #000080;

.load-animation.running {
  animation: pulsate $LEN infinite;
  transform: translate(0,0);
  .dearthfunk {
    cursor: pointer;
    &:after {
      font-size: 2em;
      animation: textMangler $text-mangler-len infinite;
      filter: blur(1px);
    }
  }
}
.load-animation {
  color: white;
  animation: hueRotator $LEN infinite;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  transition: transform 1s ease-in-out;
  transform: translate(0,35vh);
  .dearthfunk {
    text-shadow: 2px 2px 2px $blue;
    &:after {
      transition: filter 1s ease-in, font-size 1s ease-in;
      content: 'dearthfunk';
      display: block;
      filter: blur(5px) brightness(2);
      font-size: 6em;
    }
  }
}
@keyframes hueRotator {
  0% { filter: hue-rotate(0deg); }
  100% { filter: hue-rotate(360deg); }
}
@keyframes textMangler {
  0% {content: 'dearthfunk'}
  2% {content: 'de@rthf_nk'}
  4% {content: 'de_rth3_nk'}
  6% {content: 'd3_rth__nk'}
  10% { content: '_3_rth__nk'}
  11% { content: '_3__th__nk'}
  12% { content: '___th@nks_'}
  25% { content: '_d_a_th_ks'}
  30% { content: 'death_____'}
  40% { content: 'dearth____'}
  41% { content: 'dearthf___'}
  42% { content: 'dearthfu__'}
  43% { content: 'dearthfun_'}
  44% { content: 'dearthfunk'}
}

@keyframes pulsate {
  0%   { opacity: 0.4; }
  50%  { opacity: 1; }
  100% { opacity: 0.4; }
}
