$LEN: 2s;
$final-transtion: $LEN * 12;
$text-mangler-len: $LEN * 6;
$circle-grow-len: $LEN;
$size-fade: $LEN * 2;
$circle-size: 10px;
$blue: #000080;

.load-animation {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: column;
  .msg {
    font-size: 2rem;
    padding-top: 30px;
    font-family: 'Jura', sans-serif;
    animation: pulsate_brightness $final-transtion infinite;
  }
  .dearthfunk {
    animation: hueRotator $final-transtion infinite;
    text-shadow: 2px 2px 2px $blue;
    &:after {
      transition: font-size 1s ease-in;
      content: 'dearthfunk';
      display: block;
      font-size: 4em;
      opacity: 0.5;
    }
  }
  &.running {
    .dearthfunk {
      animation: pulsate $LEN infinite;
      transform: translate(0,0);
      cursor: pointer;
      &:after {
        font-size: 2em;
        animation: textMangler $text-mangler-len infinite;
        filter: blur(1px);
        opacity: 1;
      }
    }
  }
}

@keyframes hueRotator {
  0% { filter: hue-rotate(0deg) blur(1px); }
  50% { filter: hue-rotate(180deg) blur(1.5px); }
  100% { filter: hue-rotate(360deg) blur(1px); }
}
@keyframes textMangler {
  0% {content: 'dearthfunk'}
  2% {content: 'de@rthf_nk'}
  4% {content: 'de_rth3_nk'}
  6% {content: 'd3_rth__nk'}
  10% { content: '_3_rth__nk'}
  11% { content: '_3__th__nk'}
  12% { content: '___th@nks_'}
  25% { content: '_d_a_th_ks'}
  30% { content: 'death_____'}
  40% { content: 'dearth____'}
  41% { content: 'dearthf___'}
  42% { content: 'dearthfu__'}
  43% { content: 'dearthfun_'}
  44% { content: 'dearthfunk'}
}

@keyframes pulsate {
  0%   { opacity: 0.4; }
  50%  { opacity: 1; }
  100% { opacity: 0.4; }
}

@keyframes pulsate_brightness {
  0%   { filter: brightness(0.5); }
  50%  { filter: brightness(1); }
  100% { filter: brightness(0.5); }
}