<div class="animations fade-in">
  {{#each @controls as |control index|}}
    <button class="circle control {{if control.value 'selected'}}" type="button"
      {{on "click" (fn (mut control.value) (not control.value))}}>
      {{control.label}}
    </button>
  {{/each}}
</div>