<div class="animations fade-in {{if @loading 'loading'}}">
  {{#each @animations as |animation|}}
    <button
      {{on "click" (fn @selectAnimation animation)}}
      class="circle {{if (eq animation @selectedAnimation) 'selected'}}"
      type="button">
      {{animation.label}}
    </button>
  {{/each}}
</div>