<div class="animations fade-in {{if @loading 'loading'}}">
  {{#each this.animations.animations as |animation|}}
    <button
      {{on "click" (fn this.animations.selectAnimation animation)}}
      class="circle {{if (eq animation this.animations.selectedAnimation) 'selected'}}"
      type="button">
      {{animation.label}}
    </button>
  {{/each}}
</div>