<div class="animations fade-in">
  {{#each this.animations.selectedAnimation.rotations as |rotation index|}}
    <button class="circle control {{if rotation 'selected'}}" type="button"
      {{!-- {{on "click" (fn (mut rotation) (not rotation))}}> --}}
      {{on "click" (fn this.animations.selectedAnimation.toggleRotation index)}}>
    </button>
  {{/each}}
</div>