<div class="load-animation {{if @running 'running'}}">
  <div class="dearthfunk" role="button" {{on "click" (fn (mut @running) false)}}>
  </div>
  <div class="msg">Tinkerer, Builder, Coder.</div>
</div>
