<div class="menu">
  <dl>
    {{#each this.menuItems as |menuItem|}}
      <dt>{{menuItem.label}}</dt>
      {{#each menuItem.items as |subItem|}}
        <dd>{{subItem.label}}</dd>
      {{/each}}
    {{/each}}
  </dl>
</div>

