<div class="menu">

  <a href="https://github.com/DearthFunk">
    <img src="GitHub-Mark-Light-120px-plus.png" alt="GitHub" class="shimmer">
  </a>
  <div class="animations">
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>
  </div>
</div>

