{{page-title "DearthFunk"}}
<Canvas/>
<div class="application {{if this.loading 'loading'}}">
  <div class="left">
    <Animations @loading={{this.loading}}/>
  </div>
  <div class="body">
    <Info @loading={{this.loading}}/>
  </div>
  <div class="right">

  </div>
</div>
