{{page-title "DearthFunk"}}
<div class="application {{if this.loading 'loading'}}">
  <div class="left">
    {{#unless this.loading}}
      <Animations/>
    {{/unless}}
  </div>
  <div class="body">
    <Info @loading={{this.loading}}/>
  </div>
  <div class="right">

  </div>
</div>
